
			#wrapper_top img{height: 470px;margin-bottom: 50px;}
			.nav{background: #C7DDEF;border: 1px solid #C7DDEF;width: 100%;height: 40px;}
			.glyphicon-film{font-size: 20px;color:#000000}
			.active{margin-left: 20px;}
			.logo{margin-right: 10px;margin-left: 10px;}
			.pull-right{margin-right: 10px;}
			
			#wrapper{width:80%;margin: 0 auto;}
	
	
		
		
		
			#mainbody{width: 100%;}
			#top{width: 50%;margin: 0 auto;text-align: center;}
			h1{font-size: 40px;font-weight: 300;color: black;margin-bottom: 20px;}
			h2{font-size: 20px;color: rgb(246,152,37);font-weight: 200;margin-top: 10px ;margin-bottom: 10px;}
			#top p{text-indent: 2em;line-height: 1.8em;font-size:15px;color:#808080;}
			#movie4,#movie1,#movie2,#movie3{width: 50%;margin: 0 auto;}
			#movie4 img,#movie2 img,#movie1 img,#movie3 img{display:block;margin: 50px auto;}
			#movie4 p,#movie1 p,#movie2 p,#movie3 p{text-indent: 2em;line-height: 1.8em;font-size:15px;color:#808080;}
			#mainbody_bottom p{padding-top:-30px ;padding-left:30px;padding-right:30px;margin-left:auto;margin-right:auto;margin-top:50px;text-indent: 2em;line-height: 1.8em;font-size:15px;color:#808080;width: 50%;line-height:100px;height: 100px;background: rgb(231,231,231);}
			
			#footer_top{width: 100%;height:200px;background: #F5F5F5;margin-top: 10px;}
			#footer_bottom{width: 100%;height: 50px;background: #C7DDEF;}
			
			#footer_top .glyphicon-film{color:#269ABC;font-size: 25px;display: block;margin-left: 18%;padding-top: 30px;width: 200px;height: 50px;}
			.small_nav{margin-left: 18%;margin-top: 10px;}
			.small_nav li a{display: block;float: left;margin-top: 20px;margin-right: 20px;font-family: "微软雅黑";font-size: 16px;}
			.message{clear:both;margin-left: 18%;margin-top: 10px;}
			.message li a{display: inline-block;float: left;margin-top: 20px;margin-right: 20px;font-family: "微软雅黑";color: #000000;color:#777777;font-size: 13px;}
			#footer_bottom ul{margin-left: 40%;}
			#footer_bottom ul li a{display: inline-block;float: left;margin-top: 15px;margin-right: 20px;font-family: "微软雅黑";color: #000000;color:#777777;font-size: 12px;}
